/* <!-- ASSIGNMENT DONE AS PART OF GSOC PROPOSAL FOR CIRCUITVERSE  -->
<!-- DONE BY VISHRUTH SUBRAMANIAN --> */


h2{
    text-align: center;
    font-size: 40px;
    background-color: #343a40;
    height: 70px;
    color:#09f;
    padding-top: 20px;
    font-weight: 400;
}
*{
    margin: 0;
    padding:0;
}

.content{
    margin-left: 30px;
    margin-top: 70px;
}
h3{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 300;
}

a{
    text-decoration: none;
}
#btn1{
    background-color: #007bff;
    border:2px solid #007bff;
    height: 30px;
    width: 80px;
    border-radius: 0.5rem;
    color: white;
}
#btn1:hover{
    cursor: pointer;
    color: #007bff;
    background-color: #fff;
    transition: 0.4s;
 }
#btn2{
    background-color: #fff;
    border:2px solid #dc3545;
    height: 30px;
    width: 80px;
    border-radius: 0.5rem;
    color: #dc3545
}
#btn2:hover{
    cursor: pointer;
    background-color: #dc3545;
    transition: 0.4s;
    color: white;
 }
input[type="text"]{
    height: 25px;
    margin-right: 5px;
    padding-left: 5px;
    border: 1px solid #007bff;
}
p{
    margin-top: 20px;
    background-color: #cedaff;
    width: 700px;
    height: 30px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 18px;
}
#undo{
    color: rgb(0, 140, 255);
    font-weight: 300;;
}

.box {
    max-width: 600px;
    /* margin: 50px auto; */
 }
 ul {
    list-style-type: none;
    position: relative;
    padding: 0;
    margin: 0;
 }
 ul li {
    width: 100%;
    display: block;
    position: relative;
    /* border-bottom: 1px solid #444; */
 }
 ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
 }
 ul li label {
    display: block;
    position: relative;
    padding: 0.5em 2em;
    font-size: 1.1em;
    cursor:pointer;
    z-index: 5;
    transition: all .25s linear;
 }
 ul li:hover label {
    color: #000;
 }
 ul li .check {
    display: block;
    position: absolute;
    border: 2px solid #3f3d3d;
    border-radius: 100%;
    height: 12px;
    width: 14px;
    top: calc(50% - 10px);
    z-index: 5;
    transition: border .25s linear;
    cursor:pointer;
 }
 ul li:hover .check {
    border: 2px solid #3f3d3d;
 }
 ul li .check::before {
    content: '';
    display: block;
    position: absolute;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    margin: auto;
    transition: background .25s linear;
 }
 input[type=radio]:checked ~ .check {
    border: 4px solid #09f;
 }
 input[type=radio]:checked ~ .check::before {
    background: #09f;
 }
 input[type=radio]:checked ~ label {
    color: #09f;
 }